body {
    background-image: url(https://t4.ftcdn.net/jpg/03/38/09/99/240_F_338099978_AI1TZ520242U90ucQDuBs9ZUUFW0GIHH.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-position: center;
    box-sizing: border-box;
    background-size: contain;
    backdrop-filter: blur(3px); 
}



.container {
    text-align: center;
    align-items: center;
    width: 50%;
    display: block;
    margin: auto;

}



.header {
    padding-top: 2rem;
    color:rgb(17, 2, 2);
    text-shadow: 1px 1px ;
}

.description {
    padding-bottom: 1rem;
    margin: 1rem;
    font-size: larger;
    font-family: cursive;
    

}

label {
    display: block;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 1.5rem;
    font-style: bold;
    text-shadow: 1px 1px ;

}

button {
    display: block;
    margin: auto;
    cursor: pointer;
    
}

input {

    border-radius: 0.5pc;
    border-color: black;
    padding: 0.5rem;
    border: none;
}

.table {
    margin: auto;
}

th {
    padding-right: 2rem;
    padding-bottom: 1rem;
    font-size: larger;
    border: 1px solid black;
    text-align: center;
}

tr {
    display: table-row;
    font-size: larger;
}

td {

    padding-bottom: 1rem;
    padding-right: 2rem;
    font-size: larger;
    border: 1px solid black;
    margin: auto;
}

caption {
    padding-bottom: 1rem;
    font-size: 2rem;
    text-shadow: 1px 1px ;
}

#check-button {
    border-radius: 0.5cm;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-color: black;
    width: 15%;
    height: 5vh;

}

#cash-given {
    margin-bottom: 1rem;
   
}

h1 {
    display: block;
    font-size: 2em;
    
}

table {
    border: 1px solid black;
}